
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
  margin-right: 30px;
  font-size: 10px;
  text-align: center;

  strong {
    display: block;
    font-size: 2em;
  }

  .vote, .answer {
    width: 60px;
    height: 60px;    
  }

  .status {
    &.unanswered {
      border: 1px solid #eee;
      background: #eee;
    }
    &.answered {
      border: 1px solid #77bd6c;
      color: #77bd6c;
    }
    &.answered-accepted {
      background: #77bd6c;
      color: $color-white;
    }
  }

  .view {
    margin-top: 10px;
  }
}

form.form-delete {
  display: inline;
}

.vote-controls {
  min-width: 60px;
  margin-right: 30px;
  text-align: center;
  color: #495057;
}

.vote-controls span,
.vote-controls a {
  display: block;
}

.vote-controls span.votes-count {
  font-size: 20px;
}

.vote-controls span.favorites-count {
  font-size: 12px;
}

.vote-controls a {
  cursor: pointer;
  color: #6c757d;
}

.vote-controls a.off,
.vote-controls a.off:hover {
  color: #adb5bd;
}

.vote-controls a.favorite.favorited,
.vote-controls a.favorite.favorited:hover {
  color: #ffc107;
}

.vote-controls a.vote-accepted {
  color: #28a745;
}

.post{
  padding: 20px 0;
  &:not(:last-child){
    border-bottom: 1px solid rgba($black, 0.1);
  }
}

[v-cloak]{
  display: none;
}

body{
  background: #eee;
}

.imp-btn{
  color: #fff;
  background-image: none;
  border-color: #f06649;
  background: #f06649;
}

.imp-btn:focus,.imp-btn:not(:disabled):not(.disabled):active:focus, .imp-btn:not(:disabled):not(.disabled).active:focus, .show > .imp-btn.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 102, 73, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(240, 102, 73, 0.5);
}
.imp-btn.btn:hover, .imp-btn.btn:focus{
  background: #dc593e;
  color: #fff;
}

.first-header h2{
  font-size: 1.5rem;
  margin: 0;
}

.custom-post h3 a{
  font-size: 1.3rem;
  color: #000;
}

.custom-post .lead a, .author{
  color: #f06649;
}

.custom-post .lead{
  font-size: 1rem;
}

.btn-outline-info{
  border-color: #27aae1;
  color: #27aae1;
}
.btn-outline-info:hover{
  border-color: #27aae1;
  background: #27aae1;
  color: #fff;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle{
  border-color: #27aae1;
  color: #27aae1;
}

.secondary-btn{
  color: #fff;
  background-image: none;
  border-color: #27aae1;
  background: #27aae1;
}

.secondary-btn:focus,.secondary-btn:not(:disabled):not(.disabled):active:focus, .secondary-btn:not(:disabled):not(.disabled).active:focus, .show > .secondary-btn.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(30, 139, 185, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(30, 139, 185, 0.5);
}
.secondary-btn.btn:hover, .secondary-btn.btn:focus{
  background: #1e8bb9;
  color: #fff;
  border-color:#1e8bb9;
}

.logo{ width: 120px; }